python-dotenv
fastapi
uvicorn
pydantic
python-multipart
requests
langchain-core
langchain-google-genai
langgraph
langgraph-checkpoint-sqlite
llama-parse
qdrant-client
google-generativeai
scipy
scikit-learn
